<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Personel Sistemi{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stlye.css') }}">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <h1>Personel Takip Sistemi</h1>
        <div>
        <nav class="basee">
            <a href="{{ url_for('dashboard') }}">Ana Sayfa</a>
           <a href="{{ url_for('personel_listesi') }}">Personeller</a>
            <a href="{{ url_for('giris_kayitlari') }}">Giriş Kayıtları</a>
            <a href="{{ url_for('register') }}">Kayıt Ol</a>
        </nav>
    </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    
    
</body>
</html>